In [2]:
import numpy as np
import pandas as pd

# Series / Seriler

In [3]:
myDict = {"Ali":50,"Zeynep":30,"Mehmet":40}

In [4]:
pd.Series(myDict)

Ali       50
Zeynep    30
Mehmet    40
dtype: int64

In [7]:
ageList = [50,30,40]
nameList = ["Ali","Zeynep","Mehmet"]

In [10]:
pd.Series(ageList,nameList)

Ali       50
Zeynep    30
Mehmet    40
dtype: int64

In [13]:
pd.Series(data=ageList, index= nameList)

Ali       50
Zeynep    30
Mehmet    40
dtype: int64

In [14]:
numpyArray = np.array([50,30,40])

In [15]:
numpyArray

array([50, 30, 40])

In [16]:
pd.Series(numpyArray)

0    50
1    30
2    40
dtype: int32

In [17]:
pd.Series(numpyArray,nameList)

Ali       50
Zeynep    30
Mehmet    40
dtype: int32

In [19]:
pd.Series(["Ali","Mert","Zeynep"],[1,2,3])

1       Ali
2      Mert
3    Zeynep
dtype: object

In [24]:
result1 = pd.Series([10,5,1],["Ali","Mert","Zeynep"])

In [25]:
result1

Ali       10
Mert       5
Zeynep     1
dtype: int64

In [26]:
result2 = pd.Series([20,10,8],["Ali","Mert","Zeynep"])

In [27]:
result2

Ali       20
Mert      10
Zeynep     8
dtype: int64

In [29]:
result2["Mert"]

10

In [30]:
endResult = result1+result2

In [31]:
endResult

Ali       30
Mert      15
Zeynep     9
dtype: int64

In [32]:
differentSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [33]:
differentSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [34]:
differentSeries

a    20
b    30
c    40
d    50
dtype: int64

In [35]:
differentSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [36]:
differentSeries+differentSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64